---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.jsonfeed.path }}"
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ metadata.title }}",
  "language": "{{ metadata.language }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ metadata.jsonfeed.url }}",
  "description": "{{ metadata.description }}",
  "author": {
    "name": "{{ metadata.author.name }}",
    "url": "{{ metadata.author.url }}"
  },
  "walks": [
    {%- for series in collections.seriesList %}
    {%- set absoluteSeriesUrl %}{{ series.url | url | absoluteUrl(metadata.url) }}{% endset -%}
    {
      "id": "{{ absoluteSeriesUrl }}",
      "url": "{{ absoluteSeriesUrl }}",
      "title": "{{ series.data.seriesTitle }}",
      "slug": "{{ series.data.slug }}",
      "walks": [
        {%- for walk in collections[series.data.slug] %}
        {%- set absoluteWalkUrl %}{{ walk.url | url | absoluteUrl(metadata.url) }}{% endset -%}
        {
          "id": "{{ absoluteWalkUrl }}",
          "url": "{{ absoluteWalkUrl }}",
          "title": "{{ walk.data.title }}"
        }
        {%- if not loop.last -%}
        ,
        {%- endif -%}
        {%- endfor %}
      ]
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
    {%- endfor %}
  ]
}
