---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.jsonfeed.path }}"
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ metadata.title }}",
  "language": "{{ metadata.language }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ metadata.jsonfeed.url }}",
  "description": "{{ metadata.description }}",
  "author": {
    "name": "{{ metadata.author.name }}",
    "url": "{{ metadata.author.url }}"
  },
  "items": [
    {%- for walk in collections.walks | reverse %}
    {%- set absoluteWalkUrl %}{{ walk.url | url | absoluteUrl(metadata.url) }}{% endset -%}
    {
      "id": "{{ absoluteWalkUrl }}",
      "url": "{{ absoluteWalkUrl }}",
      "title": "{{ walk.data.title }}",
      "content_html": {% if walk.templateContent %}{{ walk.templateContent | htmlToAbsoluteUrls(absoluteWalkUrl) | dump | safe }}{% else %}""{% endif %},
      "date_published": "{{ walk.date | rssDate }}"
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
    {%- endfor %}
  ]
}
